---
- include_vars: "{{ ansible_os_family }}.yml"
- include: "install-{{ ansible_os_family }}.yml"

- name: Ensure directories have correct ownership
  file:
    path: "{{ selfoss_default_install_dir }}"
    owner: "{{ selfoss_www_user }}"
    group: "{{ selfoss_www_group }}"
    recurse: yes
    mode: 0750

- name: Installation on another directory
  block:
  - name: Check if target install directory exists
    file:
      path: "{{ selfoss_install_dir }}"
      state: absent
    check_mode: yes
    changed_when: false
    register: selfoss_target_dir_state
  - name: Install selfoss to target directory
    copy:
      src: "{{ selfoss_default_install_dir }}/"
      dest: "{{ selfoss_install_dir }}"
      remote_src: yes
      owner: "{{ selfoss_www_user }}"
      group: "{{ selfoss_www_group }}"
    when: selfoss_target_dir_state.state == "absent"
  when: selfoss_default_install_dir != selfoss_install_dir

- name: Ensure correct initialization of the salt
  block:
  - name: Check the value of salt in config.ini
    lineinfile:
      path: "{{ selfoss_install_dir }}/config.ini"
      line: salt=lkjl1289
      state: present
    check_mode: yes
    changed_when: false
    register: selfoss_salt_state
  - block:
    - name: Create a good salt
      shell: tr -cd '#_[:alnum:]' < /dev/urandom | fold -w 60 | head -1
      register: selfoss_salt
      changed_when: false
    - name: Write the new salt in config.ini
      ini_file:
        path: "{{ selfoss_install_dir }}/config.ini"
        section: globals
        option: salt
        value: "{{ selfoss_salt.stdout }}"
    when: selfoss_salt_state.changed == false and selfoss_salt_state.msg != 'line added'

- name: Ensure correct initialization of the username
  block:
  - name: Check the value of username in config.ini
    lineinfile:
      path: "{{ selfoss_install_dir }}/config.ini"
      line: username=
      state: present
    check_mode: yes
    changed_when: false
    register: selfoss_username_state
  - name: Write the username in config.ini
    ini_file:
      path: "{{ selfoss_install_dir }}/config.ini"
      section: globals
      option: username
      value: "{{ __selfoss_username }}"
    when: selfoss_username_state.changed == false and selfoss_username_state.msg != 'line added'

- name: Ensure correct initialization of the password
  block:
  - name: Check the value of password in config.ini
    lineinfile:
      path: "{{ selfoss_install_dir }}/config.ini"
      line: password=
      state: present
    check_mode: yes
    changed_when: false
    register: selfoss_password_state
  - block:
    - name: Convert the password using selfoss /password service
      uri:
        url: "{{ selfoss_url }}/password"
        method: POST
        body_format: form-urlencoded
        body:
          password: "{{ __selfoss_password }}"
        status_code: 200
        return_content: yes
      register: selfoss_password_online
    - name: Extract the password from the HTML page
      shell: echo {{ selfoss_password_online | quote }} | grep 'Generated Password' | grep -oE 'value="([a-z0-9]*)"' | sed -E 's/value="([a-z0-9]*)"/\1/'
      changed_when: false
      register: selfoss_password_online
    - name: Write the hashed password in config.ini
      ini_file:
        path: "{{ selfoss_install_dir }}/config.ini"
        section: globals
        option: password
        value: "{{ selfoss_password_online.stdout }}"
    when: selfoss_password_state.changed == false and selfoss_password_state.msg != 'line added'

- name: Ensure feeds are updated with a cron job
  cron:
    name: "Update feeds for {{ selfoss_username }}"
    hour: "5"
    minute: "10"
    job: "sleep $((RANDOM % 300)) && {{ selfoss_php_path }} {{ selfoss_install_dir }}/cliupdate.php"
    user: "{{ selfoss_www_user }}"
